[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.11"
django-phonenumber-field = "*"
pillow = "*"
phonenumbers = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
django-money = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
six = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djongo = "*"
pymongo = "*"
mongoengine = "*"
social-auth-app-django = "*"
gunicorn = "*"
faker = "*"

[dev-packages]
flake8 = "*"
black = "*"
ipython = "*"
faker = "*"
django-debug-toolbar = "*"
isort = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
