{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-auto">
            <form class="d-flex" method="GET" action="{% url 'clients:list_jobs' %}">
                <input class="form-control me-2" type="search" placeholder="Search Jobs" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Hourly Rate</th>
            <th scope="col">Estimated End Date</th>
            <th scope="col">Skills</th>
            <th scope="col">Documentation</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>${{ job.hourly_rate }}</td>
                <td>{{ job.estimated_end_date }}</td>
                <td>
                    {% for skill in job.skill.all %}
                        <span class="badge bg-primary">{{ skill.title }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if job.documentation %}
                        <a href="{{ job.documentation.url }}">Download</a>
                    {% else %}
                        None
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
